body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #eee;
}

.container {
    max-width:600px;
}

.form-inline {
    display: flex;
    justify-content: space-between;
    margin: 16px 0;
}

.form-inline .form-check {
    justify-content: left;
}

.row {
    margin-left: 0;
    margin-right: 0;

}

.divSubmit, .divClear {
    justify-content: flex-end;
}

.outblock {
    display: block;
}
